<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../public/api.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h1 class="detail-title">Title</h1>
    <p class="detail-content">Content</p>
    <p>
      <span class="detail-nickname">Nickname</span
      ><span class="detail-date">Date</span>
    </p>
  </body>
  <script>
    const address = window.location.href;
    const parameters = address.split("/");
    const articleId = parameters[parameters.length - 1];

    isItMe(() => {
      return;
    });

    $(document).ready(() => {
      loadArticles(renderArticleDetail, articleId);
    });
  </script>
</html>
