<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="../public/api.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h1>Hi!!</h1>
    <button onclick="openPostNewArticlePage()">글 작성</button>
    <button onclick="openSigninPage()">로그인</button>
    <button onclick="logout()">로그아웃</button>
    <button onclick="openSignupPage()">회원가입</button>
    <div class="articles-container">
      <p>ArticleNumber <a>Title</a> Nickname Date</p>
      <p>ArticleNumber <a>Title</a> Nickname Date</p>
      <p>ArticleNumber <a>Title</a> Nickname Date</p>
    </div>
    <script>
      let articles = null;

      $(document).ready(() => {
        loadArticles(function (articles) {
          for ([i, v] of articles.entries()) {
            makeArticleCard(i, v);
          }
        });
      });
    </script>
  </body>
</html>
