<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../public/api.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h1 class="newarticle-bigtitle">게시글 작성</h1>
    <p>title: <input class="newarticle-title" type="text" /></p>
    <p>content: <input class="newarticle-content" type="text" /></p>
    <button class="newarticle-submit" onclick="postNewArticle()">
      작성하기
    </button>
    <script>
      isItMe(() => {
        return;
      });

      const address = window.location.search;
      const queryString = new URLSearchParams(address);
      const articleId = queryString.get("articleId");

      $(document).ready(() => {
        if (articleId) {
          // 즉, 수정하러 이 페이지에 들어온거라면
          $(".newarticle-bigtitle").text("게시글 수정");
          $(".newarticle-submit").text("수정하기");
          document
            .querySelector(".newarticle-submit")
            .setAttribute("onclick", `updateArticle('${articleId}')`);
          loadArticles((article) => {
            $(".newarticle-content").val(article.content);
            $(".newarticle-title").val(article.title);
          }, articleId);
        }
      });
    </script>
  </body>
</html>
